@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

html{
  height: 100%;
}

body{
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  background-color: #f0f0f0;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.visually-hidden{
  display: none; /* Временный стиль */
}
.hidden{
  display: none; /* Временный стиль */
}

.container{
  width: 1160px;
  margin: 0 auto;
}

/* Шапка сайта */

.page-header{
  background-color: #ffffff;
  color: #000000;
}
.page-header__nav{
  background-color: #ffe17f;
  padding-left: 60px;
  padding-right: 60px;
}
.page-header__row{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.page-header a{
  color: inherit;
  text-decoration: none;
}

/* Шапка сайта > Форма поиска*/

.header-search__input{
  background-color: transparent;
  border: 2px solid #000000;
  font-size: 16px;
  line-height: 20px;
  font-family: inherit;
}
.header-search__input::placeholder{
  opacity: 1;
}
.header-search__submit{
  background-color: transparent;
  border: 2px solid #000000;
  font-size: 16px;
  line-height: 20px;
  font-family: inherit;
}

/* Шапка сайта > Меню Пользователя */

.user-menu{
  display: flex;
  justify-content: flex-end;
  list-style: none;
  width: 500px;
  padding: 0;
  margin: 0;
}

/* Шапка сайта > Меню Каталог */

.catalog-menu__toggler{
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}
.catalog-menu__list{
  font-size: 16px;
  line-height: 18px;
}

/* Главное меню, в шапке и в футере */

.main-menu{
  display: flex;
  justify-content: flex-end;
  list-style: none;
  width: 560px;
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}
.main-menu__link{
  text-decoration: none;
}

/* Для всех страниц */

.page-main{
  flex-grow: 1;
}

.main-title{
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.button{
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  background-color: #ffe17f;
  border: none;
  text-decoration: none;
}

/* Footer */

.page-footer{
  background: #444444;
  color: #ffffff;
  font-size: 16px;
  line-height: 19px;
}
.page-footer a{
  color: inherit;
}

.page-footer__row{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-footer__main-menu{
  justify-content: center;
}

.page-footer__address,
.page-footer__phone{
  width: 250px;
}
.page-footer__phone{
  text-align: right;
}

/* Главная */

/* Главная > Слайдер */

.home-slider{
  background-color: #ffffff;
}
.home-slider__item{
  display: flex;
  justify-content: space-between;
}
.home-slider__item_hidden{
  display: none;
}
.home-slider__column{
  width: 560px;
}
.home-slider__specifications th{
  font-size: 16px;
  font-weight: 400;
}
.home-slider__specifications td{
  font-size: 36px;
  line-height: 30px;
  color: #000000;
}

/* Главная > Категории */

.category{
  background-color: #ffffff;
}
.category__list{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 40px;
  padding: 0;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: #000000;
}
.category__list a{
  color: inherit;
  text-decoration: none;
}

/* Главная > Услуги */

.services__container{
  display: flex;
  flex-direction: space-between;
}
.services__nav{
  width: 360px;
}
.services__list{
  width: 760px;
}

/* Главная > Доставим редкий товар */

.delivery{
  background-color: #ffffff;
}
.delivery__button{
  display: flex;
  justify-content: center;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  background: #f0f0f0;
}

/* Главная > О нас */

.about-wrap{
  background-color: #ffffff;
}
.about-wrap__container{
  display: flex;
  justify-content: space-between;
}

.about{
  width: 560px;
}
.about__list{
  font-weight: bold;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #000000;
}

/* Главная > Контакты */

.contacts{
  width: 560px;
}
.contacts__subtitle{
  font-weight: bold;
  font-size: 24px;
}

.contacts__address{
  font-style: normal;
}
.contacts__address a{
  color: inherit;
}

/* Главная > Подписка */

.subscription__container{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.subscription__column{
  width: 560px;
}
.subscription__full{
  width: 100%;
}
.subscription-form__input{
  background-color: transparent;
  border: none;
  border-bottom: 3px solid #c4c4c4;
  font-family: inherit;
  font-size: 18px;
}
.subscription-form__input::placeholder{
  opacity: 0.5;
}
.subscription-form__submit{
  background-color: transparent;
  border: 3px solid #c4c4c4;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
}

/* Внутренние страницы */

.main-header{
  background-color: #ffffff;
}
.main-header__container{
  padding: 0 60px;
}

/* Хлебные крошки */

.breadcrumbs{
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}
.breadcrumbs__link{
  text-decoration: none;
  color: inherit;
}

/* Каталог */

.catalog-products__container{
  display: grid;
  grid-template-columns: 320px 840px;
}

/* Каталог > Фильтр */

.catalog-filter{
  grid-row: 1 / 3;
  padding: 0 60px;
  color: #000000;
  font-size: 16px;
  line-height: 19px;
}
.catalog-filter__title{
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}
.catalog-filter__subtitle{
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
}

/* Каталог > Сортировка */

.catalog-sort{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  color: #000000;
  font-size: 16px;
  line-height: 19px;
}
.catalog-sort__title{
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

/* Каталог > Список товаров */

.catalog-products__inner{
  padding: 0 40px;
  background-color: #ffffff;
}

.catalog-products__list{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  padding: 0;
  margin: 0;
}

.catalog-products__more{
  display: block;
  width: 100%;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  border: 3px solid #E5E5E5;
  background-color: transparent;
}

/* Каталог > Карточка товара */

.product-card{
  display: block;
  color: inherit;
  text-decoration: none;
}
.product-card__title{
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #000000;
}
.product-card__price{
  line-height: 21px;
}

/* Пагинация */

.pagination{
  background-color: #ebebeb;
}
.pagination__button{
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}
.pagination__item{
  font-size: 16px;
  line-height: 20px;
  opacity: 0.3;
}
.pagination__link{
  color: inherit;
  text-decoration: none;
}